{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "Subtitle" .Description "HeroIcon" "cloud" ) }}


<div class="position-absolute d-none d-lg-block w-100 section mt-11" id="vertical-line" style="z-index: 1003">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-5">

            </div>
            <div class="col-2 d-flex justify-content-center">
                <div style="background-color: #AB8DFF; width: 20px" class="h-100"></div>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</div>
<section class="section container">
    <div class="strike-dark">
        <h2 class="text-center">Timeline</h2>
      </div>
    
    <div class="d-flex flex-column mt-6 gap-6">
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2016"
            "cardText" "August 16th"
            "cardDescription" "First open source commits of LocalStack in GitHub repository (initial support for 8 AWS services)"
            "image" "/images/company/leafs.svg"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2017"
            "cardText" "March 27th"
            "cardDescription" "Tweet by Jeff Barr (AWS Chief Evangelist) about LocalStack"
            "image" "/images/company/twittershout.svg"
            "reverse" "true"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2018"
            "cardText" "March"
            "cardDescription" "Reaching 10.000 stars on Github"
            "image" "/images/company/10k.svg"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2019"
            "cardText" "July"
            "cardDescription" "LocalStack Pro extensions - first version available"
            "image" "/images/company/gears.svg"
            "reverse" "true"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2020"
            "cardText" "July"
            "cardDescription" "Reaching 25.000 stars on Github, more than 50+ AWS services supported in LocalStack"
            "image" "/images/company/leafs.svg"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2021"
            "cardText" "March"
            "cardDescription" "LocalStack GmbH founded in Switzerland"
            "image" "/images/company/writing.svg"
            "reverse" "true"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2022"
            "cardText" "May"
            "cardDescription" "Reached 20+ team members, and growing!"
            "image" "/images/company/members.svg"
            )
        }}
        {{ partial "misc/timeline-card.html" (dict
            "cardHeading" "2022"
            "cardText" "July"
            "cardDescription" "Release of LocalStack version 1.0.0"
            "image" "/images/company/release.svg"
            "reverse" "true"
            )
        }}
    </div>
</section>
<script>
    function getPositionAtCenter(element) {
       const {top, left, width, height} = element.getBoundingClientRect();
       return {
         x: left + width / 2,
         y: top + height / 2
       };
     }
    
    function getDistanceBetweenElements(a, b) {
      const aPosition = getPositionAtCenter(a);
      const bPosition = getPositionAtCenter(b);
    
      return Math.hypot(aPosition.x - bPosition.x, aPosition.y - bPosition.y);  
    }

    function setLengthOfVerticalLine() {
        const elems = document.getElementsByClassName('timeline-dot')
        const dist = getDistanceBetweenElements(elems[0], elems[elems.length-1])

        const verticalLine = document.getElementById('vertical-line')
        const marginTop = parseInt(window.getComputedStyle(verticalLine).marginTop.split("px")[0])
        
        console.log(dist, marginTop)

        verticalLine.style.height =  "" + (marginTop + dist - 30) + "px"
    }

    document.addEventListener('DOMContentLoaded', function() {
        setLengthOfVerticalLine()
    }, false)

    window.onresize = setLengthOfVerticalLine;

    </script>
{{ end }}