<section class='section section-sm bg-gradient-dark {{ cond (eq .Layout "case-study") "position-relative" "" }}'>

  {{ if eq .HeroIcon "search" }}
    <div class="position-absolute w-100 section pb-7 pt-7 d-none d-md-block">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-2">
            <img
              class="w-100"
              style="transform: scale(2); opacity: .65;"
              src="/images/heroes/magnify.svg"
            />
          </div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(60deg) scale(1.25); opacity: .8;"
              src="/images/heroes/magnify.svg"
            />
          </div>
          <div class="col-2"></div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(-50deg) scaleX(-1) scale(1.6); opacity: .9;"
              src="/images/heroes/magnify.svg"
            />
          </div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(34deg) scale(1.2); opacity: .75;"
              src="/images/heroes/magnify.svg"
            />
          </div>
        </div>
      </div>
    </div>
  {{ else if eq .HeroIcon "blog" }}
  <div class="position-absolute w-100 section pb-7 pt-7 d-none d-md-block">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-2">
          <img
            class="w-100"
            style="transform: scale(2); opacity: .65;"
            src="/images/heroes/blog.svg"
          />
        </div>
        <div class="col-2">

        </div>
        <div class="col-2"></div>
        <div class="col-2">
          <img
            class="w-100"
            style="transform: rotate(35deg) scale(1.4); opacity: .9;"
            src="/images/heroes/blog.svg"
          />
        </div>
        <div class="col-2">
          <img
            class="w-100"
            style="transform: rotate(-45deg) scaleX(-1) scale(1.5); opacity: .75;"
            src="/images/heroes/blog.svg"
          />
        </div>
      </div>
    </div>
  </div>
  {{ else if eq .HeroIcon "case-study" }}
  <div class="position-absolute w-100 section d-none d-md-block case-study-bg-icon p-0">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2 icon1">
          <img
            class="w-100"
            style="transform: rotate(35deg) scale(1.6); opacity: .9;"
            src="/images/heroes/blog.svg"
          />
        </div>
        <div class="col-2 icon2">
          <img
            class="w-100"
            style="transform: rotate(-35deg) scaleX(-1) scale(1.8); opacity: .75;"
            src="/images/heroes/blog.svg"
          />
        </div>
      </div>
    </div>
  </div>
  {{ else if eq .HeroIcon "computer" }}
    <div class="position-absolute w-100 section pb-7 pt-7 d-none d-md-block">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-2">
            <img
              class="w-100"
              style="transform: scale(2); opacity: .65;"
              src="/images/heroes/computer.svg"
            />
          </div>
          <div class="col-2">

          </div>
          <div class="col-2"></div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(35deg) scale(1.4); opacity: .9;"
              src="/images/heroes/computer.svg"
            />
          </div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(0deg) scale(1.5); opacity: .75;"
              src="/images/heroes/computer.svg"
            />
          </div>
        </div>
      </div>
    </div>
  {{ else if eq .HeroIcon "cloud" }}
    {{ partial "heroes/clouds.html" }}
  {{ else if eq .HeroIcon "question" }}
    <div class="position-absolute w-100 section pb-7 pt-7 d-none d-md-block">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(-65deg) scale(1.5); opacity: .65;"
              src="/images/heroes/question.svg"
            />
          </div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(-20deg) scale(1); opacity: .8;"
              src="/images/heroes/question.svg"
            />
          </div>
          <div class="col-2"></div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(-55deg) scale(1); opacity: .9;"
              src="/images/heroes/question.svg"
            />
          </div>
          <div class="col-2">
            <img
              class="w-100"
              style="transform: rotate(15deg) scale(1.4); opacity: .75;"
              src="/images/heroes/question.svg"
            />
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  {{ if eq .Layout "case-study" }}
  <div class="container pb-4 pt-9 {{ .heroClasses }}">
    <div class="row justify-content-center align-items-center text-white">
      <h1 class="text-left m-0 pt-lg-5">{{ .Title }}</h1>
    </div>
  </div>
  {{ else  }}
  <div class="container pb-5 pt-6 pb-md-7 pt-sm-7 {{ .heroClasses }}">
    <div class="row justify-content-center align-items-center text-white">
      <h1 class="text-center m-0 pt-lg-5">{{ .Title }}</h1>
      {{ with .Subtitle }}
        <p class="text-center mt-4 mb-n6 pb-5 pb-md-0" style="font-size: 1.5rem">{{ . }}</p>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
