<div class="position-absolute w-100 section pb-7 pt-9 pt-sm-7 d-none d-md-block">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-3">
          <img
            class="w-100"
            style="transform: scale(1.75); opacity: .9;"
            src="/images/heroes/cloud.svg"
          />
        </div>
        <div class="col-1">
        </div>
        <div class="col-2"></div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <img
            class="w-100"
            style="transform: scaleX(-1) scale(1.2)"
            src="/images/heroes/cloud.svg"
          />
        </div>
      </div>
    </div>
</div>