<div class="d-flex align-items-center flex-wrap card-footer-text">
    <p class="mb-0">
        <img src="/images/common/clock.svg"/>
        {{ .ReadingTime -}}&nbsp;MIN READ&nbsp;&#8212;&nbsp;
        posted {{ .PublishDate.Format "January 2, 2006" }} by {{ if .Params.contributors -}}{{ range $index,
        $contributor := .Params.contributors }}{{ if gt $index 0 }} and {{ end }}<a
            class="stretched-link position-relative">{{ .
            }}</a>{{ end -}}{{ end -}}
    </p>
    <p>
</div>