{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title)}}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <article>
          <div class="text-center">{{ .Content }}</div>
          {{/* {{ range .Pages.GroupByParam "Department" }}
          <h2 class="text-center pb-3 border-bottom">{{ .Key }}</h2> */}}
          <div class="card-list d-flex flex-column gap-1">
            {{ range .Pages -}}
            <div class="card mb-3">
              <div class="row align-items-center gy-3">
                <div class="col-12 col-md-5 col-lg-4">
                  {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Params.leadimage)) }}
                  {{ with $image }}
                  <img class="card-img" src="{{ .RelPermalink }}" />
                  {{ end }}
                </div>
                <div class="col-12 col-md-7 col-lg-8 d-flex flex-column gap-1">
                  <div class="d-flex justify-content-center justify-content-md-start">
                    {{ with .Params.department }}
                    <div class="btn btn-primary btn-pill text-uppercase">{{ . }}</div>
                    {{ end -}}
                  </div>
                  <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                  </h2>
                  <p>{{ .Params.lead | safeHTML }}</p>
                  <hr>
                  <a class="btn btn-primary btn-lg" href="{{ .RelPermalink }}" style="width: 266px">APPLY</a>
                </div>
              </div>
            </div>
            {{ end -}}
          </div>
          {{/* {{ end }} */}}
        </article>
      </div>
    </div>
  </div>
</section>

{{ end }}