{{ define "main" }}
<section class="section bg-gradient-dark">
  <div class="container pb-10 pt-9 pt-sm-7">
    <div class="row justify-content-center align-items-center text-white">
      <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
    </div>
  </div>
</section>

<section class="section d-flex">
  <div class="container overlay-card mt-n11 p-7">
    <article>
      {{ .Content }}
    </article>
  </div>
</section>

{{/*  Add this when values are ready  */}}
{{/*  {{ partial "section/job-common.html" .}}  */}}
{{ end }}