{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "HeroIcon" "case-study" "Layout" "case-study" "heroClasses" "case-study-top-sec") }}
<section class="section section-sm mb-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <article>
          <div class="case-study-main">
            <div class="row g-0">
              <div class="col-12 col-md-4">
                {{ partial "sidebar/case-study.html" (dict "Title" .Title "Params" .Params) }}
              </div>
              <div class="col-12 col-md-8">
                <div class="case-study-content">{{ .Content }}</div>
                {{ partial "misc/blog-cta-1.html" }}
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }}
