{{ define "main" }}
<section class="section section-sm bg-gradient-dark">
  <div class="container pb-7 pt-9 pt-sm-7">
    <div class="row justify-content-center align-items-center text-white">
      <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
<div class="row justify-content-center">
  <div class="col-12">
    <article>
        <div class="text-center">{{ .Content }}</div>
        <div class="card-list d-flex flex-column gap-1">
          {{ range .Data.Pages -}}
            <div class="card">
                <div class="row align-items-center gy-3">
                  <div class="col-12 col-md-5 col-lg-4">
                    {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Params.leadimage)) }}
                    {{ with $image }}
                    <img class="card-img" src="{{ .RelPermalink }}"/> 
                    {{end}}
                  </div>
                  <div class="col-12 col-md-7 col-lg-8 d-flex flex-column gap-1">
                    <div class="d-flex justify-content-center justify-content-md-start">
                      {{ range .Params.tags }}
                        <div class="btn btn-primary btn-pill text-uppercase">{{ . }}</div>
                      {{ end -}}
                    </div>
                    <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                    <p>{{ .Params.lead | safeHTML }}</p>
                    <hr>
                    {{ partial "main/blog-meta.html" . -}}
                  </div>
                </div>
            </div>
          {{ end -}}
        </div>
      </article>
    </div>
  </div>
</div>
</section>
{{ end }}