{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "HeroIcon" "blog" ) }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <article>
            <div class="text-center">{{ .Content }}</div>
            <div class="card-list d-flex flex-column gap-1">
              {{ range .Pages -}}

                {{ $tagClass := (delimit .Params.tags " tag-") }}
                <div class="card tag-{{ $tagClass }} tag-all">
                    <div class="row align-items-center gy-3">
                      <div class="col-12 col-md-5 col-lg-4">
                        {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Params.leadimage)) }}
                        {{ with $image }}
                        <img class="card-img" src="{{ .RelPermalink }}"/> 
                        {{end}}
                      </div>
                      <div class="col-12 col-md-7 col-lg-8 d-flex flex-column gap-1">
                        <div class="d-flex justify-content-center justify-content-md-start gap-3">
                          {{ range .Params.tags }}
                            <div class="btn btn-primary btn-pill bg-purple text-uppercase">{{ . }}</div>
                          {{ end -}}
                          {{ with .Params.weight }}
                            <div class="btn btn-outline-primary rounded-pill h-100">
                              <div style="margin-top: -2px">
                                📌
                              </div>
                            </div>
                          {{end}}
                        </div>
                        <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                        <p>{{ .Params.lead | safeHTML }}</p>
                        <hr>
                        {{ partial "main/blog-meta.html" . -}}
                      </div>
                    </div>
                </div>

              {{ end -}}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if(window.location.hash) {
      var anchor = window.location.hash.substring(1)
      var filterButton = document.getElementById(anchor + 'FilterButton')
      if (filterButton) {
        toggleTag(anchor)
      }
    }
  }, false);  
</script>
{{ end }}
