{{ define "main" }}
<section class="section section-sm bg-gradient-dark">
  <div class="container pb-7 pt-9 pt-sm-7">
    <div class="row justify-content-center align-items-center text-white">
      <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
    </div>
  </div>
</section>
<section class="section section-sm mb-6">
  <div class="container px-lg-8">
  <div class="row justify-content-center">
    <div class="col-12">
      <article>
      <div class="blog-header">
        {{ partial "main/blog-meta.html" . }}
      </div> 
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
      </article>
    </div>

  </div>
</div>
</section>
{{ end }}
