.footer {
  color: $white;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }
}

.footer .footer-main {
  padding-top: 2rem;
}

.footer .footer-logo {
  opacity: 0.4;
  max-height: 70px;
}

.footer .footer-bottom {
  font-size: $font-size-sm;
  padding: 0.5rem 0;
}

.footer .footer-bottom > .container {
  padding-bottom: 1rem;
}

.footer .footer-bottom hr {
  margin-bottom: 1rem;
}

.footer .footer-bottom .list-inline-item {
  font-size: $font-size-sm;
}

.footer-text {
  color: white;
  opacity: 0.7;
}

.footer-last-text {
  color: white;
  opacity: 0.5;
}