{{ define "nocontainer" }}
<section class="section section-sm bg-gradient-dark pb-10">
    <div class="position-absolute w-100 section pb-7 pt-7 d-none d-md-block">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-3">
                    <img
                            class="w-100"
                            style="transform: scale(1.75); opacity: .9;"
                            src="/images/heroes/cloud.svg"
                    />
                </div>
                <div class="col-1">
                </div>
                <div class="col-2"></div>
                <div class="col-1">
                </div>
                <div class="col-3">
                    <img
                            class="w-100"
                            style="transform: scaleX(-1) scale(1.2)"
                            src="/images/heroes/cloud.svg"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-7 pt-7">
        <div class="row justify-content-center align-items-center text-white">
            <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
            <p class="text-center mt-4 mb-n6" style="font-size: 18px">
                {{ .Description }}
            </p>
        </div>
    </div>
</section>
<section class="section">
    {{ .Content }}
</section>
{{ end }}
