{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "HeroIcon" "cloud") }}
{{ if (not (eq .Content ""))}}
<section class="section container">
    {{ .Content }}
</section>
{{ end }}
<section class="section container mt-n7">
    {{ partial "misc/social-card.html" (dict "Title" "Get involved"
    "Lead" "Contribute to making LocalStack even better!"
    "Link" "/community/get-involved"
    "LinkText" "MORE INFO"
    )}}
    {{ partial "misc/social-card.html" (dict "Title" "Stay informed"
    "Lead" "Stay informed about LocalStack, and receive the latest news."
    "Link" "/community/stay-informed"
    "LinkText" "SHOW LINKS"
    )}}
</section>
{{ end }}
