{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "Subtitle" "Stay informed") }}
<section class="section container">
    {{ partial "misc/social-card.html" (dict "Title" "Twitter" 
    "Lead" "Stay informed about LocalStack, and receive the latest news."
    "Link" "http://twitter.com/intent/follow?screen_name=_localstack"
    )}}
    {{ partial "misc/social-card.html" (dict "Title" "LinkedIn" 
    "Lead" "Stay informed about LocalStack, and receive the latest news."
    "Link" "https://www.linkedin.com/company/localstack-cloud"
    )}}
    {{ partial "misc/social-card.html" (dict "Title" "YouTube" 
    "Lead" "Stay informed about LocalStack, and receive the latest news."
    "Link" "https://www.youtube.com/c/LocalStack"
    "LinkText" "SUBSCRIBE"
    )}}
    {{ partial "misc/social-card.html" (dict "Title" "Blog" 
    "Lead" "Pretium enim vitae varius posuere faucibus sit ultrices. Tellus integer aliquet eget pulvinar a. In suspendisse eget puru. Pretium enim vitae varius posuere faucibus sit ultrices. Tellus integer aliquet eget pulvinar a. In suspendisse eget puru."
    )}}
</section>
{{ end }}