<!-- <section class="section bg-gradient-dark mt-n17">
    <div class="container mt-16 pb-10">
        <div class="row text-center gx-5 gy-5 text-white">
            <div class="strike-light mb-6">
                <h2 style="letter-spacing: 0.05em">Our Values</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="value-card">
                        <img src="/images/common/check.svg" height="100rem"></img>
                        <h3>Open communication</h3>
                        <p>Openness is root level for us. Information is open internally by default and sharing is a first principle. And we understand that speaking your mind requires equal parts brains (what to say), thoughtfulness (when to say it), and caring (how it’s said).</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="value-card">
                        <img src="/images/common/check.svg" height="100rem"></img>
                        <h3>Customer Obsession</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="value-card">
                        <img src="/images/common/check.svg" height="100rem"></img>
                        <h3>One team</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="value-card">
                        <img src="/images/common/check.svg" height="100rem"></img>
                        <h3>Inclusiveness</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="value-card">
                        <img src="/images/common/check.svg" height="100rem"></img>
                        <h3>Empowerment</h3>
                    </div>
                </div>
            </div>
            {{/*  TODO: make this color correct:  */}}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="color-card-border">
                    <div class="solution-card">
                        <h3>Like what we stand for? Join us.</h3>
                        <p>We are always looking for new teammates who want to build the future together.</p>
                        <a class="btn btn-primary btn-tertiary" style="width: 250px" href="mailto:info@localstack.cloud">LEARN MORE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->

<section class="section container mb-5">
    <!-- <div class="container overlay-card mt-n8 pb-5 d-flex flex-column align-items-center"></div> -->
    <div class="overlay-card pb-5 d-flex flex-column align-items-center">
        <h1 class="text-center">Check our open positions</h1>
        <a class="btn btn-primary btn-lg" style="width: 300px" href="/careers">OPEN POSITIONS</a>
    </div>
</section>