
<section class="section section-md container">
    <h2 class="h2 text-center mb-8">Reviews</h2>
    <div class="container overlay-card stats-card overflow-y-visible">
      <div class="card-top-photo">
        <img src="/images/landing/person.jpg"/>
      </div>
      <div class="row justify-content-center align-items-center gap-5 text-center px-2 px-md-5 px-lg-6 px-xl-8">
        <p class="fst-italic m-0">
          LocalStack has been immensely helpful in speeding up our development and testing cycles, leading to more and better testing across the board. In the past we were still deploying everything directly to the cloud, and had very long iterative deployment cycles, often with limited anticipation of what the outcome would be. Each deployment blocked our dev branch, making a portion of the team unproductive, but with LocalStack we can now quickly run most unit/integration tests before promoting our code into the higher stages.
        </p>
        <div class="divider"></div>
        <div>
          <h4 class="m-0 mb-2">Rick Timmis</h4>
          <p>Rick Timmis, VP of Engineering -   Xiatech</p>
        </div>
      </div>
      <!-- <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner overflow-visible">
        {{ partial "misc/review-carousel-item.html" (dict
          "active" "active"
          "review" "LocalStack has been immensely helpful in speeding up our development and testing cycles, leading to more and better testing across the board. In the past we were still deploying everything directly to the cloud, and had very long iterative deployment cycles, often with limited anticipation of what the outcome would be. Each deployment blocked our dev branch, making a portion of the team unproductive, but with LocalStack we can now quickly run most unit/integration tests before promoting our code into the higher stages."
          "image" "/images/landing/person.jpg"
          "name" "Rick Timmis"
          "description" "Rick Timmis, VP of Engineering -   Xiatech")
        }}
        {{ partial "misc/review-carousel-item.html" (dict
          "review" "LocalStack has been immensely helpful in speeding up our development and testing cycles, leading to more and better testing across the board. In the past we were still deploying everything directly to the cloud, and had very long iterative deployment cycles, often with limited anticipation of what the outcome would be. Each deployment blocked our dev branch, making a portion of the team unproductive, but with LocalStack we can now quickly run most unit/integration tests before promoting our code into the higher stages."
          "image" "/images/landing/person.jpg"
          "name" "Rick Timmis"
          "description" "Rick Timmis, VP of Engineering -   Xiatech")
        }}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#featureCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featureCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
    </div> -->
    </div>
</section>