{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0"><img src="/images/localstack.svg" alt="LocalStack Logo" style="max-width: 180px" class="mb-4"> {{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="mb-4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localstack.github.io" data-text="LocalStack - Develop and test your cloud apps offline.">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <iframe src="https://ghbtns.com/github-btn.html?user=localstack&amp;repo=localstack&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" style="margin-left: 10px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=localstack&amp;repo=localstack&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-8 col-sm-7 col-md-5 col-lg-4">
        <img src="/images/icons/flash.png" style="max-width: 50px" class="mb-3">
        <p>Enables a highly efficient dev&test loop. Deploy your application locally in Docker, within seconds.</p>
      </div>
      <div class="col-8 col-sm-7 col-md-5 col-lg-4">
        <img src="/images/icons/money.png" style="max-width: 50px" class="mb-3">
        <p>Huge cost savings for development teams of all sizes. No cloud infrastructure needed.</p>
      </div>
      <div class="col-8 col-sm-7 col-md-5 col-lg-4">
        <img src="/images/icons/ci.png" style="max-width: 50px" class="mb-3">
        <p>Improve software quality through continuous integration. Stop rolling out untested changes.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-md section-alt">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col col-md-4 col-lg-3">
        <span style="font-size: 2.2rem">400+</span><br>
        Contributors
      </div>
      <div class="col col-md-4 col-lg-3">
        <span style="font-size: 2.2rem">11,000+</span><br>
        Slack members
      </div>
      <div class="col col-md-4 col-lg-3">
        <span style="font-size: 2.2rem">40,000+</span><br>
        GitHub stars
      </div>
      <div class="col col-md-4 col-lg-3">
        <span style="font-size: 2.2rem">90,000,000+</span><br>
        Docker Pulls
      </div>
    </div>
  </div>
</section>

<section class="section section-sm container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2 class="h2 text-center">What is LocalStack?</h2>
      <p>LocalStack provides an easy-to-use test/mocking framework for developing Cloud
        applications. It spins up a testing environment on your local machine that provides
        the same functionality and APIs as the real AWS cloud environment.
      </p>
      <p>Yes, that's true -
        you can run your Lambda functions, store data to DynamoDB tables, feed events through
        Kinesis streams, put your application behind an API Gateway, and much more. And
        all this happens on your local machine, without ever talking to the cloud.
      </p>
      <p style="margin-bottom: 10px">
        The diagram below illustrates the <b>efficient dev/test and deployment pipeline</b>
        enabled by LocalStack.
      </p>
        <ol>
          <li>Your application is developed entirely on the local developer
            machines. LocalStack provisions all required "cloud" resources in a local
            container.</li>
          <li>Changes are frequently pushed to a continuous integration server that
            runs the automated tests. LocalStack provisions all required "cloud"
            resources in the continuous integration server environment.</li>
          <li>Once all tests are green, you flip the switch and the application can
            be seamlessly deployed to the real AWS cloud environment.</li>
        </ol>
      <p>
        <img style="width: 100%" src="/images/diagram.png">
      </p>
      <p>Needless to say, this enables an extremely efficient development loop and
        team collaboration. No more tedious uploading of application code to
        run a quick test. No more dollars spent on expensive test resources on AWS!
      </p>
      <p>
        <b>Our users love it</b>. Check out the
        <a href="https://github.com/localstack/localstack">Github repository</a>, or search on
        <a href="https://twitter.com/search?q=localstack">Twitter</a>/<a
          href="https://www.google.com/search?q=LocalStack+AWS">Google</a>
          to find out what people have to say about LocalStack. It's the modern
          way of developing cloud applications - we hope you're part of it!
      </p>

      <h2 class="h2 text-center">Features</h2>
      <p class="text-center">
        Interact with LocalStack via the CLI or our hosted web application:
      </p>
      <!-- feature carousel -->
      <div id="featureCarousel" class="featureCarousel carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#featureCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          {{ partial "misc/feature-carousel-item.html" (dict
            "active" "active"
            "image" "/images/features/dynamodb.png"
            "label" "DynamoDB Tables"
            "descr" "Querying DynamoDB items becomes a breeze")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/lambda.png"
            "label" "Lambda"
            "descr" "Interactively search and debug Lambda logs")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/cognito.png"
            "label" "Cognito"
            "descr" "Manage your Cognito user pools and user attributes")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/apigateway.png"
            "label" "API Gateway"
            "descr" "Navigate API Gateways and directly run test invocations from the browser")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/cloudformation.png"
            "label" "Cloud Formation"
            "descr" "Edit CloudFormation templates and trigger stack creation")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/stepfunctions.png"
            "label" "StepFunctions"
            "descr" "Visually inspect and debug your StepFunctions state machines")
          }}
          {{ partial "misc/feature-carousel-item.html" (dict
            "image" "/images/features/ssm.png"
            "label" "System Parameters"
            "descr" "Easily set SSM parameters to configure your system")
          }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#featureCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featureCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- /feature carousel -->

    </div>
  </div>
</section>

<section class="section section-md container">
  <h2 class="h2 text-center">LocalStack is trusted by 10,000s of developers worldwide</h2>
  <div class="row justify-content-center text-center mt-5">
    <div class="col-lg-10">
      <div class="row">
        {{ range .Site.Data.customers -}}
        <div class="col customer-logo mb-4">
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .logo }}" style="max-height: 80px">
          </a>
        </div>
        {{ end -}}
      </div>
    </div>

  </div>
</section>


<section class="section section-md container pt-0">
  <h2 class="h2 text-center">Giving back <span class="h4"><i class="bi bi-heart-fill"></i></span></h2>
  <div class="row justify-content-center text-center mt-2">
    <div class="col-lg-10">
      <div class="row">
        <p>
          At LocalStack, we're 100% committed to supporting the community.
        </p>
        <p>
          We frequently contribute open source code, and support academic, student, or open source projects and non-profit/philanthropic organizations.
          If you have a project like this, please reach out to us!
        </p>
        <p>
          Here are some of the awesome projects we have supported with free pro subscriptions:
        </p>
        {{ range .Site.Data.community -}}
        <div class="col customer-logo mb-4">
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .logo }}" style="max-height: 80px">
          </a>
        </div>
        {{ end -}}
      </div>
    </div>
  </div>
</section>

<section class="section section-md section-alt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2 class="h2 text-center">Stay in the loop</h2>
        <p>If you have any questions or feedback, please shoot us a message at
          <a href="mailto:info@localstack.cloud">info@localstack.cloud</a>
        </p>

        <p>
          We'd love to get in touch with you.
          Please subscribe with your email to stay tuned for release notes and product updates.
          We promise never to send an excessive amount of emails (we hate spam, too).
        </p>

        <div class="center text-center">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <form class="center text-center validate" action="https://github.us16.list-manage.com/subscribe/post?u=988d9bf9ad8ad389bde9e2c6d&amp;id=7daf893897" method="post" target="_blank" novalidate>
                <div class="input-group mb-3">
                  <input type="email" class="form-control email" name="EMAIL" id="mce-EMAIL" placeholder="email address" aria-label="email address" aria-describedby="basic-addon2">
                  <input type="hidden" name="b_988d9bf9ad8ad389bde9e2c6d_7daf893897" tabindex="-1" value=""/>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" name="subscribe">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{- .Content -}}
{{ end }}
