<div class="blog-cta-1 text-center">
    <div class="ls-badge text-uppercase d-inline-block">Join us at AWS re:Invent 2023</div>
    <h2 class="heading">
        Schedule a one-on-one session with LocalStack team during re:Invent.
    </h2>
    <a class="btn btn-white text-uppercase" data-bs-toggle="collapse" href="#collapseContact" role="button" aria-expanded="false" aria-controls="collapseContact">Request a Demo</a>
    <div class="collapse" id="collapseContact">
      <div class="overlay-card h-100 p-4 p-md-5 p-lg-6 mt-4">
        <script>
          hbspt.forms.create({
            region: "eu1",
            portalId: "26596507",
            formId: "7106a84c-eee2-4844-a1d1-6ef9811fc062"
          });
        </script>
    </div>
    </div>
  </div>