<div class="case-study-cta text-center">
  <div class="ls-badge text-uppercase d-inline-block">Get in Touch</div>
  <h2 class="heading">Ready to get started developing and testing your cloud apps offline?</h2>
  <a class="btn btn-white text-uppercase" data-bs-toggle="collapse" href="#collapseContact" role="button" aria-expanded="false" aria-controls="collapseContact">Request a Demo</a>
  <div class="collapse" id="collapseContact">
    <div class="overlay-card h-100 p-4 p-md-5 p-lg-6 mt-4">
      <script>
        hbspt.forms.create({
            region: "eu1",
            portalId: "26596507",
            formId: "fcc8c7e6-09cf-4364-8fe6-b6e616130bfa"
        });
      </script>
  </div>
  </div>
</div>
