<div class="container mb-6 mt-n5">
    <div class="d-flex flex-column flex-md-row gap-4">
        <div class="col col-md-5 d-flex flex-column gap-4 flex-grow-1 justify-content-between">
                {{ partial "misc/contact-card.html" (dict "contactName" "Discussion"
                "text" "Join our discussion platform:"
                "link" "discuss.localstack.cloud"
                "type" "link"
                ) }}
                {{/*  {{ partial "misc/contact-card.html" (dict "contactName" "E-mail"
                "text" "For any support questions"
                "link" "info@localstack.cloud"
                "type" "mail"
                ) }}  */}}
                {{ partial "misc/contact-card.html" (dict "contactName" "Slack"
                "text" "Please join our Slack community"
                "link" "slack.localstack.cloud"
                "type" "link"
                ) }}
                {{ partial "misc/contact-card.html" (dict "contactName" "GitHub"
                "text" "For any bug reports, please first consult the main GitHub repository"
                "link" "github.com/localstack/localstack"
                "type" "link"
                ) }}
            {{/* TODO: discuss */}}
        </div>
        <div class="col col-md-7">
            <div class="overlay-card h-100 p-4 p-md-5 p-lg-5 ">
                <h2 class="mb-4">Need help?</h2>
                <script>
                hbspt.forms.create({
                    region: "eu1",
                    portalId: "26596507",
                    formId: "fcc8c7e6-09cf-4364-8fe6-b6e616130bfa"
                });
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        const firstname = document.getElementById('firstname')
        const lastname = document.getElementById('lastname')
        const email = document.getElementById('email')
        const phonenumber = document.getElementById('phonenumber')
        const message = document.getElementById('message')
        const link = "mailto:support@localstack.cloud?subject="+firstname.value+" "+lastname.value+" "+phonenumber.value+"&body="+message.value
        window.location.href = link
    }
</script>
