<div class="container mb-6 mt-n5">
    <div class="d-flex flex-column flex-md-row gap-4">
        <div class="col col-md-5 d-flex flex-column gap-4 flex-grow-1 jusitfy-space-between">
                {{ partial "misc/contact-card.html" (dict "contactName" "Discussion"
                "text" "Our new discussion platform:"
                "link" "discuss.localstack.cloud"
                "type" "link"
                ) }}
                {{ partial "misc/contact-card.html" (dict "contactName" "E-mail"
                "text" "For any administrative questions"
                "link" "info@localstack.cloud"
                "type" "mail"
                ) }}
                {{ partial "misc/contact-card.html" (dict "contactName" "Slack"
                "text" "Please join us in our Slack channel"
                "link" "localstack-community.slack.com"
                "type" "link"
                ) }}
                {{ partial "misc/contact-card.html" (dict "contactName" "GitHub"
                "text" "For any bug reports, please first consult the main GitHub repository"
                "link" "github.com/localstack/localstack"
                "type" "link"
                ) }}
            {{/* TODO: discuss */}}
        </div>
        <div class="col col-md-7">
            <div class="overlay-card h-100 p-4 p-md-5 p-lg-6">
                Neque ornare aenean euismod elementum nisi. Ut faucibus pulvinar elementum integer enim neque
                volutpat ac tincidunt.
                {{/* TODO: form */}}
                <div class="row">
                    <form>
                        <div class="row form-group gy-1 gy-md-3">
                            <div class="col-12 col-xl-6">
                                <input type="text" class="contact-textbox" placeholder="First name*" required />
                            </div>
                            <div class="col-12 col-xl-6">
                                <input type="text" class="contact-textbox w-100" placeholder="Last name*" required />
                            </div>
                            <div class="col-12 col-xl-6">
                                <input type="text" class="contact-textbox w-100" placeholder="E-mail*" required/>
                            </div>
                            <div class="col-12 col-xl-6">
                                <input type="email" class="contact-textbox w-100" placeholder="Phone number" />
                            </div>
                            <div class="col-12">
                                <textarea type="text" style="resize: none; height: 325px" class="contact-textbox w-100" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary form-button" type="submit" name="submit">GET IN TOUCH</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>