{{ define "main" }}

<div class="bg-gradient-dark">
  <img
    src="/images/insiders/rocket_hero.svg"
    alt="illustration of a rocket on the launchpad ready to launch"
    style="width: 100%; height: 500px; object-fit: cover; object-position: bottom">

    <div class="container pb-5 pb-7">
      <div class="row justify-content-center align-items-center text-white">
        <h1 class="text-center m-0 pt-5">{{ .Title }}</h1>
        {{ with .Description }}
          <p class="text-center mt-4 mb-n6 pb-5" style="font-size: 1.5rem">{{ . }}</p>
        {{ end }}
      </div>
    </div>
</div>



<div class="container mb-6 mt-n5">
  <div class="d-flex flex-column flex-md-row gap-4">
    <div class="col col-md-6 d-flex flex-column gap-4 flex-grow-1 jusitfy-space-between overlay-card">
      {{ .Content }}
    </div>
    <div class="col col-md-6">
      <div class="overlay-card h-100">
        <p class="pb-4">Sign up to join the LocalStack Insiders waiting list.</p>
        <script>
          hbspt.forms.create({
            region: "eu1",
            portalId: "26596507",
            formId: "69e69b3e-f7d8-4d0b-8319-090766e2207f"
          });
        </script>
      </div>
    </div>
  </div>
</div>
{{ end }}