{{ define "main" }}
{{ partial "heroes/base.html" (dict "Title" .Title "HeroIcon" "cloud" "heroClasses" "pb-8") }}
{{ partial "misc/contacts.html" .}}
{{/*  {{ .Content }}  */}}
<section class="section container">
  <div class="strike-dark">
    <h2 class="text-center">FAQ</h2>
  </div>
    <div class="container overlay-card mt-6 pb-5 d-flex flex-column align-items-center">
        <h3 class="text-center">Our frequently asked questions might help</h3>
        <a class="btn btn-primary btn-lg" style="width: 300px" href="/faq">CHECK OUT</a>
    </div>
</section>
{{ end }}

